<div class="feed-menu">
  <a href="/feed/subscriptions" class="feed-menu-item pure-menu-heading">
    <%= t('mintube.subscriptions') %>
  </a>
  <a href="/feed/playlists" class="feed-menu-item pure-menu-heading">
    <%= t('mintube.playlists') %>
  </a>
</div>
